# Play
project/project
project/target
conf/evolutions/
conf/dev.conf

# Output
target/
logs/
conf/evolutions
pom.xml.versionsBackup
dependency-reduced-pom.xml

# Eclipse
.metadata/
.externalToolBuilders/
maven-eclipse.xml
bin/
eclipse-bin/
**/.classpath
**/RemoteSystemsTempFiles/

# IntelliJ
.idea
.settings/
*.iml

# Mac
.DS_Store

# Akka test persistence data
test-snapshots/

# VSCode
.vscode/
.project

node_modules/
node/
