
#graph-page-container input[type="checkbox"] {
    display: none;
}

#graph-page-container .modal-header,
#graph-page-container h4,
#graph-page-container .close {
    background-color: #666666;
    color:white !important;
    text-align: center;
}

.modal-footer {
    background-color: #f9f9f9;
}
